/* classes */
.text-right{text-align:right}
.hidden{display:none}
.clickable:hover{cursor:pointer;text-decoration:underline}
.text-ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}



body{
	font:15px -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	background-color:#2d2e2f;
	margin:100px 20px 20px;
	color:#e8ebef;
	margin:0;
	
	-moz-user-select:none;-webkit-user-select: none;-ms-user-select:none;-o-user-select:none;user-select:none
}




span.icon{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	background-image:url('icons.png');
	background-size: 160px 16px;
}
.icon.donate{background-position: -16px}
.icon.new{background-position: -32px}
.icon.add{background-position: -48px}
.icon.save{background-position: -64px}
.icon.pencil{background-position: -80px}
.icon.settings{background-position: -96px}
.icon.folder{background-position: -112px}
.icon.trash{background-position: -128px}
.icon.check{background-position: -144px}









#wrapper, html, body {
	height: 100%;
	margin: 0;
}

#wrapper {
	display: flex;
	flex-direction: column;
}


#topbar{
	background-color:#e74100;
}








button,input{
	font-family:inherit;
	font-size:inherit;
}
input[type=text]{box-sizing:border-box}
.dialog button{min-width:120px;background-color:#eee}
button{
	font-size:95%;
	background-color:transparent;
	border:none;
	border-radius:2px;
	padding: 5px 8px;
}
button:hover{
	background-color:#ddd;
	cursor:pointer;
}
button:disabled{opacity:.35}
button.colored{background-color:#2663d2;color:white}
button.colored:hover{background-color:#3673e2}
input.fw,select.fw{
	box-sizing:border-box;
	width:100%;
}
input.mini{
	width: 40px
}
textarea{
	box-sizing:border-box;
	width:100%;
	resize: vertical;
}




h1{
	margin:0;
	padding:12px 20px;
	font-size:135%;
	font-weight:normal;
	color:white;
}
h1 img{
	max-width:32px;
	vertical-align: middle;
	margin-right:8px;
}
h2{
	position:absolute;
	top:8px;
	right:20px;
	font-size:90%;
	font-weight:normal;
}
h2 a{
	border-bottom: 1px solid #ee7a4c;
	color:white;
	text-decoration:none;
}
.h2-button{
	border:none;
	padding: 10px 20px;
	border-radius: 3px;
	background-color:#ba3c0c;
}
.h2-button:hover{
	background-color:#953814;
}
.h2-button.donate{
	background-color:#33a700;
}
.h2-button.donate:hover{
	background-color:#44c00d;
}
#toolbar{
	color:#f69a75;
	padding: 8px 20px;
}
#toolbar button{
	background-color:transparent;
	border:1px solid #e36e41;
	color:white;
}
#toolbar button.action{
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
}
#toolbar button.remove{
	border-left:none;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
}
#toolbar button:hover{
	background-color:#c23d0a;
}


#content{
	flex-grow:2;
	overflow-y: auto;
}


#actions{
	list-style:none;
	margin:0 0 0 8px;
	padding:0;
	display:inline;
}
#actions li{
	display:inline;
}
#actions li:after{
	content:'\2192';
	font-size:120%;
	margin:0 4px;
}



table{
	width:100%;
	border-collapse:collapse;
}



hr{
	margin:0;
	width:0px;
	height:20px;
	display:inline-block;
	border:none;
	border-right:1px solid black;
	vertical-align:middle;
}


td,th{
	padding: 7px;
}
th{
	font-weight:normal;
	text-transform:uppercase;
	font-size:80%;
	text-align:left;
	background-color:#242526;
}
tbody tr:nth-child(even){
	background-color:#323335;

}
tbody small{opacity:.6}
td:nth-child(3){
	font-size:80%;
	max-width:300px;
}
td:nth-child(5){
	font-family:monospace;
}


#drop-message{
	text-align:center;
	border: 1px dashed #e8ebef;
	padding: 100px 0;
	border-radius: 6px;
	font-size:160%;
	margin: 60px;
}


#toolbar-bottom{
	padding: 8px;
	text-align:center;
}
#toolbar-bottom button{
	border: 1px solid #515559;
	color:white;
}
#toolbar-bottom button:hover{
	background-color:#212223;
}

button .icon{margin-right:4px}

#tooltip{
	background-color:white;
	color:black;
	padding: 10px;
	border-radius: 3px;
	max-width:300px;
	position:fixed;
	z-index:30;
	box-sizing:border-box;
	display:none;
}
#tooltip:after{
	display:inline-block;
	width:0;
	height:0;
	content:" ";
    border-bottom: 10px solid white;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
	position:absolute;
	top:-20px;
	left:50%;
	margin-left:-10px;
}
#tooltip button{
	display:block;
	margin-bottom: 2px;
	width:100%;
	box-sizing:border-box;
	background-color:inherit;
	border:1px solid #e8e8e8;
}
#tooltip button:hover{
	background-color:#f4f4f4;
}
#tooltip input[type=text]{
	margin-bottom:3px;
	padding: 4px;
}


#dialog-export{
	width:690px;
}

/* simple Foundation alike grid system */
.row:before,.row:after{display:table;content:''}
.row:after{clear:both}
.columns{min-width:1px;float:left;position:relative;box-sizing:border-box}
.row .columns:last-child{float:right}
.row .columns.end{float:left}
.row.collapse{margin:0;max-width:none;width:auto}
.row.collapse .columns{padding:0 !important}
.clearfix:before,.clearfix:after{display:table;content:' '}
.clearfix{clear:both}
.columns.medium-1,.columns.one{width:8.33333%}.columns.medium-2,.columns.two{width:16.66667%}.columns.medium-3,.columns.three{width:25%}.columns.medium-4,.columns.four{width:33.33333%}.columns.medium-5,.columns.five{width:41.66667%}.columns.medium-6,.columns.six{width:50%}.columns.medium-7,.columns.seven{width:58.33333%}.columns.medium-8,.columns.eight{width:66.66667%}.columns.medium-9,.columns.nine{width:75%}.columns.medium-10,.columns.ten{width:83.33333%}.columns.medium-11,.columns.eleven{width:91.66667%}.columns.medium-12,.columns.twelve{width:100%}
/* responsive */
@media only screen and (max-width:481px){
	.columns.small-1{width:8.33333% !important}
	.columns.small-2{width:16.66667% !important}
	.columns.small-3{width:25% !important}
	.columns.small-4{width:33.33333% !important}
	.columns.small-5{width:41.66667% !important}
	.columns.small-6{width:50% !important}
	.columns.small-7{width:58.33333% !important}
	.columns.small-8{width:66.66667% !important}
	.columns.small-9{width:75% !important}
	.columns.small-10{width:83.33333% !important}
	.columns.small-11{width:91.66667% !important}
	.columns.small-12{width:100% !important}
}









/* MarcDragAndDrop */
#drop-overlay{
	z-index: 9000;
	background: white; /* Old browsers */
	background: radial-gradient(ellipse at center, #fff 0%,transparent 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	padding:50px 0;
	font-size:22px;
	text-align: center;
	text-shadow: white 0 0 8px;
	opacity:0;
	visibility:hidden;
	transition: visibility .2s,opacity .2s;
	color:black;
}
#drop-overlay:before{
	content:"";
	display:block;
	height:40%
}
body.dragging-files #drop-overlay{visibility:visible;opacity:1;}
body.dragging-files #drop-message{visibility:hidden !important}




/* SNACKBAR */
#snackbar{
	position:fixed;
	left:50%;
	margin-left:-130px;
	bottom:-80px;
	background-color:white;
	color: black;
	box-shadow:rgba(0,0,0,.3)  0 0 12px;
	padding:20px;
	width:260px;
	border-radius:3px;
	box-sizing:border-box;
	transition:bottom .2s;
	text-align:center;
	z-index:20000;
}
#snackbar.open{bottom:10px}
#snackbar:hover{cursor:pointer}



/* MarcDialogs */
.dialog-overlay,.dialog{visibility:hidden;opacity:0}
.dialog-overlay.active,.dialog.active{visibility:visible;opacity:1;transition-delay:0s/* fixes fade-in/fade-out*/}

.dialog-overlay{
	transition:visibility 0s .20s, opacity .20s;

	background-color:black;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";/* IE8 */
	background-color:rgba(0,0,0,.75)
}

.dialog{
	position:absolute;top:0;left:0; /* fix for reserved space */

	transform:translateY(-15px);
	transition:visibility 0s .20s, opacity .20s ease-in, transform .20s ease-in;

	background-color:white;
	padding:25px;
	max-width:90%;
	border-radius:2px;
	line-height:1.8;
	box-shadow: black 0 0 64px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	color:#444;
}
@media only screen and (max-width:480px){
	.dialog{width:auto}
}
.dialog.active{transform:translateY(0px)}

.dialog .buttons{
	margin-top:20px;
	text-align:right
}






@media only screen and (max-width:721px){
	body{
		font-size:13px
	}

	h1{text-align:center}
	h2{
		text-align:center;
		position:static;
		margin: -8px 0 2px;
	}
	.h2-button{
		padding: 4px 6px;
	}

	#toolbar-bottom button{text-align:center;font-size:85%;}
	#toolbar-bottom button span{display:block;margin:0 auto 2px;}
}

